# EditorConfig configuration for kexec-tools
# http://EditorConfig.org

# Top-most EditorConfig file
root = true

# Default code style for kdump-utils scripts
[*]
end_of_line = lf
shell_variant = bash
insert_final_newline = true
trim_trailing_whitespace = true
indent_style = tab
indent_size = 8
switch_case_indent = false
function_next_line = true
binary_next_line   = false
space_redirects    = true

[{kdump-lib-initramfs.sh,kdump-logger.sh}]
shell_variant = posix
