*.gz
*.xz
*.swp
*.rpm
/eppic_030413.tar.gz
/makedumpfile-1.5.7.tar.gz
/kexec-tools-2.0.8.tar.xz
/kdump-anaconda-addon-005-2-g86366ae.tar.gz
/kdump-anaconda-addon-005-5-gbf53665.tar.gz
/kdump-anaconda-addon-005-8-ge6ea581.tar.gz
/kdump-anaconda-addon-005-9-g6115ca7.tar.gz
/kexec-tools-2.0.9.tar.xz
/makedumpfile-1.5.8.tar.gz
/eppic_050615.tar.gz
/kexec-tools-2.0.10.tar.xz
/kdump-anaconda-addon-005-10-gd16915f.tar.gz
/kdump-anaconda-addon-005-11-g59f9b73.tar.gz
/kdump-anaconda-addon-005-12-g60fa4c1.tar.gz
/kdump-anaconda-addon-005-14-g563e904.tar.gz
/kdump-anaconda-addon-005-16-g586cc82.tar.gz
/kexec-tools-2.0.11.tar.xz
/makedumpfile-1.5.9.tar.gz
/kexec-tools-2.0.12.tar.xz
coverage/
