name: kdump-utils tests

on: pull_request

jobs:
  format-check:
    runs-on: ubuntu-latest
    container: docker.io/fedora:latest
    steps:
      - uses: actions/checkout@v4
      - run: dnf install shfmt make curl which diffutils -yq
      - run: curl -o /usr/local/bin/altshfmt https://raw.githubusercontent.com/shellspec/altshfmt/refs/heads/main/altshfmt && chmod +x /usr/local/bin/altshfmt
      - run: make format-check

  static-analysis:
    runs-on: ubuntu-latest
    container: docker.io/fedora:latest
    steps:
      - uses: actions/checkout@v4
      - run: dnf install shellcheck make -y
      - run: make static-analysis

  unit-tests:
    runs-on: ubuntu-latest
    container: docker.io/fedora:latest
    steps:
      - uses: actions/checkout@v4
      - run: sudo dnf install -y make dracut grubby hostname gawk
      - run: curl -L -O https://github.com/shellspec/shellspec/archive/latest.tar.gz && tar -xzf latest.tar.gz
      - run: cd shellspec-latest && sudo make install
      - run: shellspec

  integration-tests:
        runs-on: self-hosted
        timeout-minutes: 360
        concurrency:
            group: ${{ github.workflow }}-${{ github.ref }}-${{ matrix.fedora_version }}-${{ matrix.test }}
            cancel-in-progress: true
        strategy:
            matrix:
                fedora_version: [
                        "42", "rawhide"
                ]
            fail-fast: false
        steps:
            -   name: "Checkout Repository"
                uses: actions/checkout@v4
                with:
                    fetch-depth: 0
            -   name: "${{ matrix.fedora_version }} kdump tests"
                run: tools/run-integration-tests.sh ${{ matrix.fedora_version }}
